html{
    --padding-primary:20px;
}

.font-96{
    font-size: 48px !important;
}
.font-40{
    font-size:28px !important;
}
.font-28{
    font-size: 20px;
}
h1{
    font-size: 32px;
}
.padding-x-m-0{
    padding:0 !important;
}
.hero-banner{
    min-height: 0;
}
.btn{
    font-size:16px !important;
}
.button-accent img {
    width: 28px;
    height: 28px;
}

.button-accent .btn-arrow,
.button-accent .btn-arrow i{
    width: 40px;
}
.design-section .design-section-1{
    min-height: 250px;
}
.design-section .design-section-2{
    margin-top: -180px;
}
/* Home CSS */
.hero-banner-home .hero-video{
    min-height: 300px !important;
    margin-top: 50px;
}
.features-boxes{
    grid-template-columns: repeat(1,1fr);
    gap:20px;
}
.pracetice-area-stamp{
    display: none;
}
#services-section .services{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.featured-logos{
    grid-template-columns: repeat(2,1fr);
}
.playlist.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/* Customer Portal */
.customer-portal-section{
    grid-template-columns: 1fr;
}
.design-section .design-section-1{
    padding-bottom: 100px;
}
.step-check{
    width:30px;
    height: 30px;
}
.step-line-small{
    width: 2em;
}
.interested-attorney-image{
    border-right:none;
    border-bottom:2px solid var(--color-primary);
    padding-right:0px;
    margin-right:0px;
    margin-bottom:20px;
}
.card.packages {
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 0px;
}
h3 {
    font-size: 27px;
}
h2 span {
    font-size: smaller;
}
h2, .font-48 {
    font-size: 35px;
}
.stamp{
    display: none;
}
.card-ybl {
    box-shadow: 0px 5px 10px rgba(130, 130, 130, 0.85);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    min-height: auto;
    margin-top: 10px;
}
.go-top {
    position: fixed;
    bottom: 0%;
    right: 12%;
    padding: 20px;
    display: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    z-index: 1111111;
}
.go-top:after {
    font-family: FontAwesome;
    content: "\f106";
    background-color: #b38e6a;
    padding: 10px 15px;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.go-top-text{
    display: none;
}
.hero-banner-home {
    padding-top: 100px;
    padding-bottom: 100px;
}
p.font-20.text-white {
    font-size: medium;
}
